layout {
	gaps 18
	background-color "transparent"
	
	// never / always / on-overflow
	center-focused-column "never"

	preset-column-widths {
 		proportion 0.333
		proportion 0.5
		proportion 0.666
	}

	default-column-width { proportion 0.5; }

	focus-ring {
		on
		width 1

		active-color "#ffffff"
		inactive-color "#000000"

		// active-gradient from="#592720" to="ff0000" angle=45
		// inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
	}
	border {
		off
		width 6

		active-color "ffffff"
		inactive-color "#000000"
		urgent-color "#ff0000"

		// active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
		// inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    	}

	shadow {
		on

		draw-behind-window false
		softness 0
		spread 3
		offset x=6 y=6
		color "#0008"
	}
	
	tab-indicator {
		on
		place-within-column
		gap 12
		width 12
		length total-proportion=1.0
		position "right"
		gaps-between-tabs 12
		corner-radius 0
		active-color "#ffffff"
		inactive-color "#592720"
		urgent-color "ff0000"
	}

	insert-hint {
		on

		color "#ff592720"
	}
 
	struts {
		left 18
		right 18
		top 36
		bottom 36
	}
}
